:root {
    --bg-primary : #083B4C;
    --bg-blue : #1389B2;
    --bg-red : #F0466F;
    --bg-yellow: #FFD166;
    --bg-green: #0BD6A1;
    --gap : 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg-primary);
}

.container {
    margin: 20px auto 0 auto;
    width: 80%;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    height: 85vh;
    overflow-y: auto;
}

.col {
    width: calc(100% / 7  - (var(--gap) * 6 / 7));
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(2.5vw + 0.1rem);
    word-break: break-word;
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-red {
    background-color: var(--bg-red);
}

.bg-yellow {
    background-color: var(--bg-yellow);
}

.bg-green {
    background-color: var(--bg-green);
}

